@page
@model ClinicaVeterinaria.App.Presentacion.Pages.ConsulUnitariaAnimModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    

    <Div>
        <h1> Consulta de Animales</h1>
        <form>
            
            <table class="table">
                <tr>
                    <td><label asp-for="caballo.Id" class="from-label">Id del Animal: </label></td>
                    <td><input asp-for="caballo.Id" class="from-control"/></td>
                </tr>
                <tr>
                    <div>
                        <td width="250"><label asp-for="caballo.Nombre_Caballo" class="from-label">Nombre del Animal: </label></td>
                        <td><input asp-for="caballo.Nombre_Caballo" class="from-control" />
                            <span asp-validation-for="caballo.Nombre_Caballo" class="text-danger"></span>
                        </td>
                    </div>
                </tr>
                <br>
                <tr>
                    <td><label asp-for="caballo.Color" class="from-label">Color: </label></td>
                    <td><input asp-for="caballo.Color" class="from-control" />
                        <span asp-validation-for="caballo.Color" class="text-danger"></span>
                    </td>
                </tr>
                <br>
                <tr>
                    <td><label asp-for="caballo.Especie" class="from-label">Especie: </label></td>
                    <td><input asp-for="caballo.Especie" class="from-control" />
                        <span asp-validation-for="caballo.Especie" class="text-danger"></span>
                    </td>
                </tr>
                <br>
                <tr>
                    <td><label asp-for="caballo.Raza" class="from-label">Raza: </label></td>
                    <td><input asp-for="caballo.Raza" class="from-control" />
                        <span asp-validation-for="caballo.Raza" class="text-danger"></span>
                    </td>
                </tr>
                <br>

            </table>
            <br>
            
        </form>
    </Div>


</body>

<body>
    <h1> Datos del Propietario</h1>
    <form>
    <table class="table">
        <tr>
            <td width="250">
                <label for="DocIdentidad: ">Documento Identidad Propietario</label>
            </td>
            <td>
                <input type="text" name="DocIdentidad"/>
            </td>
         </tr>
                 <tr>               
            <td width="250">
                <label for="NombreCaballo">Nombre del Propietario: </label>
            </td>
            <td>
                <input type="text" name="NombrePropietario"/>
            </td>
        </tr>
        
         <tr>           
        </tr>
    </table>
    </form>
    <br>
    <a asp-page="/Listados/listaAnimal" class ="btn-default">Volver a la lista de Animales</a>
</body>
</html>